<link rel="stylesheet" href="assets/basic-jquery-slider.css">

<script>
jQuery(document).ready(function($) {

	$('#banner').bjqs({
		'animation' : 'slide',
		'width' : 960,
		'height' : 400,
		responsive : true
	});

	

});
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript" src="https://raw.github.com/snaptortoise/konami-js/master/konami.js"></script>
<script type="text/javascript">
	var success = function() {
		$('.test').replaceWith('<img src="/assets/p.jpg">');
	}
	
	var konami = new Konami(success);
	
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<div id="t" style="display: none">
			<img src="http://www.shockya.com/news/wp-content/uploads/pauly_shore.jpg">
		</div>
		<div class="row-fluid">
			<div class="container">
				<div id="banner">
					<ul class="bjqs">
						<% @carousel.each do |image| %>
						<li class="test"><img src= <%=image.url%>></li>
						<% end %>
					</ul>
				</div> 
			</div>
		</div>	

		<hr class="soften">

		
		<div class="row-fluid">
			<div class="span8">
				<% @posts.each do |post| %>
					<table>
						<tbody>
							<tr>
								<td id="postTitle" colspan='2'> <a href="/blogs/<%= post.id %>"><%= post.title %></a></td>
								
							<tr>
								<td id="contentText" colspan='3'><%= simple_format(post.contents) %></td>
							</tr>

				<% end %>	
				<tr>
								<td id="right"><a href="/blog"><h2 id="postTitle">More Posts »</h2></a></td>
							</tr>
						</tbody>
					</table>

			</div>
			<div class="span4">

				<table id="contentText">
						<span id="upcoming"> upcoming events</span>
						<tbody>        
							<% @events.each do |event| %>
								<% if event.date() >= Time.now() %>
								<tr>					
									<td colspan='2'>&nbsp;&nbsp;&nbsp;<b><%= event.name %></b><% unless event.discipline.empty? %>(<%= event.discipline %>)
									 <% end %></td>
								</tr>
								<tr>
									<td>
										<span id="navFront">
											<ul> 
												<li>&nbsp;&nbsp;&nbsp;<%= event.location %></li>
												<li>&nbsp;&nbsp;&nbsp;<%= event.date.strftime('%A %D') %> at <%= event.date.strftime("at %I:%M%p") %></li>
												<li>&nbsp;&nbsp;&nbsp;<%= link_to event.website, event.website %></li>
											</ul>
										</span>
									</td>								               
								</tr>
								<% end %>
							<% end %>
						</tbody>
					</table>
					<table id="ridesTable">
						<span id="upcoming"> rides this week </span>
						<tbody>        
							<% @rides.each do |ride| %>
								<% if ride.time >= Time.now() || ride.recurring %>
								<tr>
									<td>
										<b id="rideName"><%= ride.name %></b>
									</td>
								</tr>
								
								<tr>
									<td>										
											<ul id="contentText">
												<% unless ride.discipline.empty? && ride.distance.nil? && ride.pace.empty?%>							
									<li>&nbsp;&nbsp;<% unless ride.discipline.empty?%> <%= ride.discipline %>   <% end %><% unless ride.distance.nil?%> <%= ride.distance %> miles / <% end %> <% unless ride.pace.empty? %> / <%= ride.pace %> Pace <% end %></li>                
							
								<% end %>
												<% unless ride.location.empty? %>
												<li>&nbsp;&nbsp;&nbsp;Where: <%= ride.location %></li>
												<% end %>
												<% if ride.recurring %>
												<li>&nbsp;&nbsp;&nbsp;<%= ride.time.strftime("%A - %I:%M %p") %>
												<% else %>
												<li>&nbsp;&nbsp;&nbsp;<%= ride.time.strftime("%A %D -%I:%M %p") %></li>
												<% end %>
											</ul>
										
									</td>               
								</tr>
								<% end %>
							<% end %>
						</tbody>
					</table>
					Unless stated otherwise, rides leave from the Village Starbucks at posted time, and the top of Edgehill 10 minutes afterwards

					<br><br>
				
	<iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='http://app.strava.com/clubs/case-cycling-team/latest-rides/25bf8a0750f6b94c825996816629caf83f3fc5b7?show_rides=false'></iframe>
	<br><br>
		<center>

					<div class="fb-like-box" data-href="http://www.facebook.com/cwrucycling" data-width="300" data-show-faces="false" data-stream="false" data-header="true"></div><br><br>
					&nbsp;&nbsp;<a href="https://twitter.com/CaseCycling" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @CaseCycling</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</center>

			</div>
		
		</div>


		<hr class="soften">


		<!--<center>
				<div class="span4">
					<table>
						<h4> Upcoming Events</h4>
						<tbody>        
							<% @events.each do |event| %>
								<% if event.date > Time.now() %>
								<tr>					
									<td colspan='2'><i><%= event.name %></i> (<%= event.discipline %>)</td>
								</tr>
								<tr>
									<td>
										<span id="navFront">
											<ul> 

												<li><%= event.location %></li>
												<li><%= event.date.strftime('%A %D') %> at <%= event.date.strftime("at %I:%M%p") %></li>
												<li><%= link_to event.website, event.website %></li>
											</ul>
										</span>
									</td>								               
								</tr>
								<% end %>
							<% end %>
						</tbody>
					</table>
				</div>
			</center>
			
			<div class="span4">
				<center>
					<table>
						<h4> Upcoming Rides </h4>
						<tbody>        
							<% @rides.each do |ride| %>
								<% if ride.time > Time.now() || ride.recurring %>
								<tr>
									<td colspan='2'><%= ride.discipline %> Ride / <%= ride.distance %> miles / <%= ride.pace %></td>                
								</tr>
								<tr>
									<td>
										<span id="navFront">
											<ul>
												<li>Starting From: <%= ride.location %></li>
												<li><%= ride.time.strftime("%A %D (%I:%M%p)") %></li>
											</ul>
										</span>
									</td>               
								</tr>
								<% end %>
							<% end %>
						</tbody>
					</table>
				</center>
			</div>
			<div class="span4">
				<table>					
					<tr>
						<td>
							<span id="navFront">
							<ul>
								<li><div class="fb-like-box" data-href="http://www.facebook.com/cwrucycling" data-width="400" data-show-faces="false" data-stream="false" data-	header="true"></div></li>
								<li><a class="twitter-timeline" href="https://twitter.com/CaseCycling" data-widget-id="252609785088843777">Tweets by @CaseCycling</a></li>
							</ul>
							</span>
						</td>
					</tr>
				</table>
			</div>	-->	

	



