<% @positions.each do |position| %>
<% @person = Officer.where(position: position).first %>
 <span class="page-header" id="nav1">
    <h2><%= position %> <small> <%= @person.name %> (<%= link_to @person.contact, "mailto:" + @person.contact %>)</small></h2>
    </span>
    <table>
        <tbody>
            <tr>
                <td rowspan = "5" width= "200">
                    <% @imgString = "/assets/" +  @person.picture + ".jpg" %>
                    <img src= "<%= @imgString %>">
                </td>
                <td >
                    <% unless @person.year.empty? %>
                        <ul><b>Year:</b> <%= @person.year %></ul>
                    <% end %>
                    <% unless @person.majors.empty? %>
                    <ul><b>Major(s):</b> <%= @person.majors %></ul>
                    <% end %>
                    <% unless @person.minors.empty? %>
                    <ul><b>Minor(s):</b> <%= @person.minors %></ul>
                    <% end %>
                    <% unless @person.bio.empty? %>
                    <ul><b>Bio:</b><%= @person.bio %></ul>
                    <% end %>
                </td>
            </tr>
        </tbody>
    </table>
 
<% end %>






<br />

