<!DOCTYPE html>
<html>
  <head>
    <title>Case Western Cycling</title>
    <meta name="keywords" content="Case,Western,Reserve,University,Cycling,Club,Bicycle,Team,Race,Competition,Track,Velodrome" />

    <meta name="description" content="Case Western Reserve University Cycling Club. Information on rides, racing, and club news." />
    <link rel="icon" 
      type="image/png" 
      href="/assets/favicon.png">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <script type='text/javascript' src='/assets/knockout-2.1.0.js'></script>
  <script type="text/javascript" src="/assets/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="/assets/basic-jquery-slider.js"></script>
  <script type="text/javascript" src="/assets/bootstrap-dropdown.js"></script>
   <script type="text/javascript" src="/assets/slider.js"></script>
   <script type="text/javascript" src="/assets/demo.js"></script>
    <script type="text/javascript" src="/assets/jquery.fancybox.pack.js"></script>

  <script type='text/javascript'>
    var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36665148-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>


  </head>
  <body>
    <div id="navBackground">
    <span class= "jumbotron masthead" id="nav">
      <center>
        <br>
        <br>
        <div id="headerTextBig">think:cycling</div>
        <br>
   
        <div id="headerTextSmall">the case cycling team</div>
     
        <br>
        <span id="navTop">            
          <ul class="dropdown top_list" id="navigation">
            <li><a href="/">home</a></li>
            <li class="dropdown top_item">
                    <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">the members</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                      <li><a tabindex="-1" href='/officers'>officers</a></li>
                      <li><a tabindex="-1" href="/members">riders</a></li>
                      <li><a tabindex="-1" href="/coaches">coaches</a></li>
                    </ul>
            </li>    
            <!-- <li><a href="#">the routes</a></li> -->
            <li><a href="/blog">the blog</a></li>
             <li class="dropdown top_item">
                    <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">the sponsors</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                      <li><a tabindex="-1" href='/sponsors'>sponsors</a></li>
                      <li><a tabindex="-1" href="/sponsorship">information</a></li>
                    </ul>
            </li>    
            <li class="top_item"><a href="/clothing#&slider1=1">the clothing</a></li> 
            <li class="top_item"><a href="/about">about us</a></li>
            <li class="top_item"><a href="/contact">contact</a></li>             
          </ul>​   
        </span>        
      </center>
    </span>
  </div>
  <div id="stripe1"></div>    
    <div class="container">
      <div class= "bodyContainer">
        <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
        <%= yield %> 
        <%= render "layouts/footer" %>
        <br>
        <br>
      </div>
    </div>
  </body>

</html>