<!DOCTYPE html>
<html>
  <head>
    
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <script type="text/javascript" src="/assets/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="/assets/basic-jquery-slider.js"></script>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      
      <nav>

        <ul class="nav">
          <li><%= link_to "Home",    '/' %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Officers",    'officers' %></li>
          <li><%= link_to "Coaches",    '#' %></li>
          <li><%= link_to "Members", '#' %></li>
          <li><%= link_to "Sponsors", '#' %></li>
          <li><%= link_to "About Us", '#' %></li>
          <li><%= link_to "Contact", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>