<!DOCTYPE html>
<html>
  <head>
    
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <script type="text/javascript" src="/assets/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="/assets/basic-jquery-slider.js"></script>
  <script type="text/javascript" src="/assets/bootstrap-dropdown.js"></script>
  <script type='text/javascript'>

  </script>
  </head>
  <body>
    <div id="navBackground">
    <span class= "jumbotron masthead" id="nav">
      <center>
        <br>
        <br>
        <div id="headerTextBig">think:cycling</div>
        <br>
   
        <div id="headerTextSmall">the case cycling team</div>
     
        <br>
        <span id="navTop">            
          <ul class="dropdown" id="navigation">
            <li><a href="/">home</a></li>
            <li class="dropdown">
                    <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">the members</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                      <li><a tabindex="-1" href='/officers'>officers</a></li>
                      <li><a tabindex="-1" href="/members">riders</a></li>
                      <li><a tabindex="-1" href="/coaches">coaches</a></li>
                    </ul>
            </li>    
            <!-- <li><a href="#">the routes</a></li> -->
            <li><a href="/sponsors">the sponsors</a></li>
            <li><a href="#">about us</a></li>
            <li><a href="/contact">contact</a></li>    
          </ul>​   
        </span>        
      </center>
    </span>
  </div>
  
    <div class="container">
      <div class= "bodyContainer">
        <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
        <%= yield %> 
        <%= render "layouts/footer" %>
        <br>
        <br>
      </div>
    </div>
  </body>
</html>