<!DOCTYPE html>
<html>
  <head>
    
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <script type="text/javascript" src="/assets/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="/assets/basic-jquery-slider.js"></script>
  <script type="text/javascript" src="/assets/bootstrap-dropdown.js"></script>
  <script type='text/javascript'>

  </script>
  </head>
  <body>
    <div id="navBackground">
    <span class= "jumbotron masthead" id="nav">
      <center>
        <img src="/assets/banner.png"> 
        <span class="row-fluid">
          <span id="navTop">
            
    <ul class="dropdown">
      <li><a href="/">Home</a></li>
              <li class="dropdown">
                      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Members</a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li><a tabindex="-1" href='/officers'>Officers</a></li>
                        <li><a tabindex="-1" href="/members">Riders</a></li>
                        <li><a tabindex="-1" href="#">Coaches</a></li>
                      </ul>
              </li>

              <li><a href="#">Routes</a></li>
              <li><a href="/sponsors">Sponsors</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact</a></li>

</ul>​   

          </span>
        </span>
      </center>
    </span>
  </div>
    <br>
    <div class="container">
      <div class= "bodyContainer">
        <%= yield %> 
        <%= render "layouts/footer" %>
      </div>
    </div>
  </body>
</html>