<!DOCTYPE html>
<html>
  <head>
    
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <script type="text/javascript" src="/assets/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="/assets/basic-jquery-slider.js"></script>
  <script type="text/javascript" src="/assets/jquery.hoverIntent.js"></script>
  <script type='text/javascript'>
$(window).load(function(){
$('li.dropdown').hover(
    function(){
        $(this).find('ul').slideDown();
    },
    function(){

        $(this).find('ul').slideUp();
    });
});
</script>
  </script>
  </head>
  <body>
    <div id="navBackground">
    <span class= "jumbotron masthead" id="nav">
      <center>
        <img src="/assets/banner.png"> 
        <span class="row-fluid">
          <span id="navTop">
            
    <ul class="dropdown">
      <li><a href="/">Home</a></li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle">Members</a>
          <ul class="dropdown-menu">
              <li><a href='/officers'>Officers</li>
              <li><a href="/members">Riders</a></li>
              <li><a href="#">Coaches</a></li>
          </ul>
      </li>

              <li><a href="#">Routes</a></li>
              <li><a href="/sponsors">Sponsors</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact</a></li>
</ul>​   

          </span>
        </span>
      </center>
    </span>
  </div>
    <br>
    <div class="container">
      <div class= "bodyContainer">
        <%= yield %> 
        <%= render "layouts/footer" %>
      </div>
    </div>
  </body>
</html>