<h1> Racers </h1>
<br>
<% @racers.each do |racer| %>
 <span class="page-header" id="nav1">
    <h3> <%= racer.name %></h3>
    </span>
    <table>
        <tbody>
            <tr>
                <td rowspan = "5" width= "200">
                    <% @imgString = "/assets/" +  racer.picture + ".jpg" %>
                    <img src= "<%= @imgString %>">
                </td>
                <td>
                    <ul>                        
                        <% unless racer.standing.empty? %>
                            <li><b>Year:</b> <%= racer.standing %></li>
                        <% end %>

                        <% unless racer.majors.empty? %>
                            <li><b>Major(s):</b> <%= racer.majors %></li>
                        <% end %>

                        <% unless racer.minors.empty? %>
                            <li><b>Minor(s):</b> <%= racer.minors %></li>
                        <% end %>
                    </ul>
                </td>
                <td>
                    <ul>
                        <% unless racer.usacCategory.nil? %>
                            <li><b>USAC Category:</b> <%= racer.usacCategory %> </li>
                        <% end %>

                        <% unless racer.collegeCategory.empty? %>
                            <li><b>Collegiate Category:</b> <%= racer.collegeCategory %> </li>
                        <% end %>

                        <% unless racer.disciplines.empty? %>
                            <li><b>Disciplines: </b>
                            <% racer.disciplines.each_with_index do |dis, index| %>
                                <% if index == 0 %>
                                    <%= dis.name %>   
                                <% else %>
                                    / <%= dis.name %>
                                <% end %>                       
                            <% end %>
                            </li>
                        <% end %>
                    </ul>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3">
                    <% unless racer.bio.empty? %>
                    <ul><b>Bio:</b> <%= racer.bio %></ul>
                    <% end %>
                </td>
              
            </tr>
        </tbody>
    </table> 
<% end %>
<div class="row-fluid">
    <div class="span9">
        <h1> Recreational Riders </h1>
        <table class="recTable">
            <tr>
                <% @recRiders.each_with_index do |rec, index| %>        
                    <% if index % 3 == 0 %>
                        </tr><tr>
                    <% end %>                   
                        <td class="recCell">
                            <ul>
                                <li><h3><%= rec.name %><small>(<%= rec.standing %>)</small></li></h3>
                                <li>
                                    <% unless rec.disciplines.empty? %>                        
                                        <% rec.disciplines.each_with_index do |dis, index| %>
                                            <% if index == 0 %>
                                                <%= dis.name %>   
                                            <% else %>
                                                / <%= dis.name %>
                                            <% end %>                       
                                        <% end %>                                
                                    <% end %>
                                </li>
                            </ul>
                        </td>
                <% end %>
            </tr>
        </table>
    </div>
</div>

    





<br />

